<div class='container py-12 mx-auto px-2'>
  <h1 class='text-center py-12 text-2xl font-semibold'> Products </h1>
  <div class='container mx-auto grid gap-4 grid-cols-3' id='cards-container'>
    {{#each products}}
      <div class='shadow-md md:max-w-2xl'>
        <h2 class='text-xl font-semibold'>{{this.title}}</h2>
        <div class='text-gray-600'>{{this.code}} </div>
        <div class='description'>{{this.description}}</div>
        <div class='price'>Precio: ${{this.price}} </div>
        <div class='class-section'>
          <div>Stock: {{this.stock}} </div>
          <div>Categoría: {{this.category}} </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
</script>